
$outline-width: 6px;
$shadow-width: 4px;

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;
$outline-color: #333;
$font-color: #333;
$font: 'Press Start 2P', monospace;

html, body{
    background-color: #f4f4f4;
    height: 100%;
}

.container {
    min-height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marginer {
    max-width: 960px;
    flex: 1 1 auto;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-bar{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .links{
        text-decoration: none;
        color: $button-background;
    }
    .coins{
    
        margin-left: 10px;
    }
}



.greetings{
    margin: 0 20px 40px;
    color: $font-color;
    font-size: 20px;
}

.start-grp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-input{
    font-family: $font;
    background-color: rgba(255,255,255,.5);
    border: 6px solid $outline-color; 
    height: 60px;
    padding: 0 10px 0 32px;
    margin: 0 10px 20px;
}

.time-adjust{
    font-family: $font;
    background-color: rgba(255,255,255,.5);
    inset: none;
    border: 6px solid $outline-color; 
    height: 60px;
    width: 60px; 
    font-weight: bold;
}

.eightbit-btn {
    background: $button-background;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 24px;
    padding: 12px;
    font-family: $font;
    text-decoration: none; 
    color: white;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

    &:hover,
    &:focus {
        background: $sec-button-background;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
    }

    &:before,
    &:after {
    content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }

    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width $outline-color solid;
        border-bottom: $outline-width $outline-color solid;
    }

    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width $outline-color solid;
        border-right: $outline-width $outline-color solid;
    }
    
}

.top-bar {

}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin-top: 40px;
}

.start-dino {
    max-height: 300px;
}